.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainHeader{
  /* grid-row: 1fr; */
  border: 0.2rem solid rgb(4, 8, 4);
}

.navBar{
  text-decoration: none;
}

#homeNav{
  color:black;
  margin: 1rem;
}

#footballNav{
  color: green;
  margin: 1rem;
}

#codingNav{
  color: red;
  margin: 1rem;
}

#cookingNav{
  color: blue;
  margin: 1rem;
}
/* .ArticleList{
  display: grid;
  grid-column: 0.5fr;
} */

.article_card, .articlePageArticle{
  border: 0.2rem solid rgb(4, 8, 4);
  margin: 1rem;
  padding: 0.5rem;
}

.article_card:hover{
  border: 0.2rem solid rgb(241, 59, 13);
}

.articleListArticleTitle{
  color: black;
  text-decoration: none;
}

.articleBody{
  text-align:justify;
}

.topicfootball{
  color: green;
}

.topiccoding{
  color:red;
}

.topiccooking{
  color:blue;
}