.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mainHeader{
  grid-row: 1fr;
  border: 0.2rem solid rgb(4, 8, 4);
}

.ArticleList{
  display: grid;
  grid-column: 1fr;
}

.article_card{
  border: 0.2rem solid rgb(4, 8, 4);
  margin: 1rem;
}